.input-profil{
        &:not(:first-child){
            margin-top: 2rem;
        }

        input{
            min-width: 20rem;
            @media screen and (max-width:768px) {
                min-width: 100%;
                width:0%;
            }
        }
       
    }


.select-profil{
    margin-top: 2rem;
    width: 20rem;
    @media screen and (max-width:768px) {
        min-width: 100%;
        width:0%;
    }
}

.save-profil{
    margin-top: 2rem;
    min-width: 10rem;
    
}


.update-success{
    margin-top: 10px;
    color: green;
    font-weight: 600;
}